<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <style>
        .nav{
            width: 80%px;
        }
        .logout{
            display: inline;
            float: right;
            margin-right: 10%;
        }
        .container{
            margin:0 10%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1><span class="nav">Welcome {{userName}}!</span>
        <form class="logout" method="get" action="/logout">
        <button type="submit">Logout</button>
    </form>
    </h1>
    
    <hr>
    </div>

</body>
</html>